/* autocomplete begin */
.autocomlete_list{ list-style: none; display: block; position: absolute; z-index: 999; max-height: 10rem; overflow-y: scroll; overflow-x: visible; visibility: hidden; box-shadow: 0 0 5px #000; }
.autocomlete_list option{ padding: .25rem; }
.autocomlete_list option:hover{ background-color: #b8cfe7; color: #fff; }
#ac_spinner{ margin-left: .5rem; -webkit-animation:spin .75s linear infinite; -moz-animation:spin .75s linear infinite; animation:spin .75s linear infinite; transition: all .25s; opacity: 0; }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* autocomplete end */
